.new-article-form {
    margin: 2rem;
}

.new-article-form__section-content {
    margin-top: 0.5rem;
    resize: none;
}

.new-article-form__button {
    margin: 0.25rem;
}

.new-article-form__method-name {
    margin: 2rem 0;
}

.new-article-form__section-title-row {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}
.new-article-form__remove-icon{
    cursor: pointer;
    margin-left: 0.5rem;
}

textarea.new-article-form__section-content {
    height: 12rem;
}

