.advantages-table {
    display: grid;
    border-top: 1px solid black;
    border-right: 1px solid black;
    background: #f8f8f8;
    text-align: center;
}

.advantages-table-element {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.compare-methods-button {
    margin-top: 20px;
}