.method__main {
    margin-top: 2rem;
    display: flex;
}

.method__section-list {
    list-style-type: none;
    width: 15vw;
}

.section-link {
    cursor: pointer;
    color: #343a40;
}

.section-link:hover {
    color: #343a40;
}

.section-content {
    /*padding: 10px 30px 0 70px;*/
    margin: 1rem 0 0 3rem;
    width: 50vw;
}

.active-section {
    text-decoration: underline;
}

.method__method-name {
    margin-top: 2rem;
    margin-left: 3rem;

}

.list-item {
    margin-top: 10px;
}

.method-form-elem {
    margin-top: 10px;
    width: 20vw;
}

.preview-go-back-button {
    margin-top: 20px;
}
